#p1{
    background-color:antiquewhite;
}
div{
    background-color:aqua;
    font-size:30px;
    color:cornsilk;
    }

#p2{
    background-color:aquamarine;
    font-size:20px;
    }
   
.center-alignment
{
    text-align:center;
}